* {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#gridCanvas {
  z-index: -3;
}

#gameCanvas {
  z-index: -2;
}

/*Game Hud*/

#hud, #hud * {
  z-index: -1;
}

#inventory {
  box-sizing: border-box;
  background-color: #BBBBBB;
  width: 70%;
  height: 120px;
  position: absolute;
  left: 50%;
  margin-left: calc(70% / -2);
  bottom: 0;
  border-radius: 10px;
  border: 10px solid #3a8fee;
  overflow: hidden;
  justify-content: center;
}

.inventorySlot {
  margin: 2.5px;
  cursor: pointer;
}

/*Main Screen*/

#mainScreen {
  background-color: #e3e3e3;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.overlay {
  height: 100vh;
}

.button {
  color: black;
  outline: none;
  border: none;
}

#playButton {
  background-color: #4dc11e;
  display: block;
  margin: 0 auto;
}

.menuPane {
  background-color: #9a9a9a;
}

#mainPane {
  justify-content: center;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  height: 70vh;
  margin-top: calc(50vh - 70vh/2);
  border-radius: calc(40% / 15);
}