* {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#gridCanvas {
  z-index: -3;
}

#gameCanvas {
  z-index: -2;
}

#hud {
  z-index: -1;
}

#inventory {
  box-sizing: border-box;
  background-color: #BBBBBB;
  width: 70%;
  height: 120px;
  position: absolute;
  left: 50%;
  margin-left: calc(70%/-2);
  bottom: 0;
  border-radius: 10px;
  border: 10px solid #3a8fee;
  overflow: hidden;
  justify-content: center;
}

.inventorySlot {
  margin: 2.5px;
  cursor: pointer;
}