# NOTE: enable lingering (`loginctl enable-linger $USER`) if using systemd --user, so that the process isn't killed when the ssh session is closed.

[Unit]
Description=Sorcerio server

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/sorcerio/sorcerio-server/
ExecStart=/home/sorcerio/sorcerio-server/sorcerio
ExecStop=/usr/bin/pkill sorcerio

[Install]
WantedBy=default.target
